.grid-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 3em;
  margin: 2.6em;

  @media only screen and (max-width: 1320px) {
    grid-template-columns: repeat(2, 1fr);
  }

}
