.general-form-field {
  width: 100%;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.controls__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
