.general-form-field {
  width: 100%;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.controls__delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}


.details {

  .details--img {
    display: flex;
    justify-content: center;

    img {
      width: 150px;
    }

  }

  .details--field {

    width: 100%;
    margin-bottom: 1em;

    span {
      font-size: 10px;
      color: $col-text;
    }

    h3 {
      margin-bottom: 0;
      color: $col-text;
      background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
      background-position: bottom;
      background-size: 3px 1px;
      background-repeat: repeat-x;
    }

  }
}
