.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 3%;

  .nav-logo {

    img {
      width: 60%;
    }

    i {
      color: $col-primary;
      font-size: 6em;
    }

  }

  .nav-links {

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      list-style: none;
      padding: 0;

      li {

        &:not(:last-child) {
          margin-right: 3em;
        }

        a {
          font-size: 1.4em;

          &:hover {
            text-decoration: none;
          }

        }

        .active-link {
          color: $col-primary;
        }

      }

    }

  }

  .collapsed {
    position: fixed;
    right: 3em;

    ul {
      display: flex;
      flex-direction: column;

      li {



      }

    }

  }

}
