.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 3%;

  .nav-logo {

    img {
      width: 60%;
    }

    i {
      color: $col-primary;
      font-size: 6em;
    }

  }

  .nav-links {

    button {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      list-style: none;
      padding: 0;

      li {

        &:not(:last-child) {
          margin-right: 3em;
        }

        a {
          font-size: 1.4em;

          &:hover {
            text-decoration: none;
          }

        }

        .active-link {
          color: $col-primary;
        }

      }

    }

  }

  .nav-links {

    &.collapsed {
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: fixed;
      right: 4em;
      top: 3em;

      button {
        display: block;
        width: 50px;
        height: 50px;
        min-width: 0;
        padding: 0;
        margin: 0 0 0.5em;

        &.menu-btn {
          border-radius: 100%;
        }

      }

      ul {

        &.menu-links {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          li {
            margin-right: 0;
            margin-bottom: 0.5em;
          }
        }

        &.hidden {
          display: none;
        }

      }

    }

  }

}
