.grid-container {
  margin-top: 1em;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    .grid-card {
      width: calc(#{$paymentCardWidth} - 2 * #{$paymentCardOffset});
      height: calc(#{$paymentCardHeight} - 2 * #{$paymentCardOffset});
      margin: $paymentCardOffset;
      border-radius: 1em;
      border: 1px solid $lightGray;
      box-shadow: $box-shadow__grid-card;
      color: $dark;
      transition: $transition;

      &:hover {
        width: $paymentCardWidth;
        height: $paymentCardHeight;
        padding: $paymentCardOffset;
        margin: 0;
        box-shadow: $box-shadow__grid-card--hover;
        border: 1px solid #fff;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }

        // Add new payment card - start
        .payment-card__new {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $lightGray;

          h3 {
            margin: 0;
          }

          i {
            margin-bottom: 0.2em;
          }

        }
        // Add new payment card - end

        .payment-card__details {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1em 1.4em;

          .payment-card__logo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            img {
              width: 60px;
            }

            i {
              font-size: 1.2em;
              margin-bottom: 0;
            }

          }

          .payment-card__description {
            flex-direction: column;
            width: 100%;

            .payment-card__number {
              width: 100%;
              display: flex;
              justify-content: flex-start;

              h2 {
                font-size: 1.2em;
                margin-bottom: 0.4em;
              }
            }

            .payment-card__info {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 0.4em;

              h3, h4 {
                margin-bottom: 0;
              }
            }

            button {
              width: 100%;
            }
          }

        }

      }
    }

  }
}
