<form [formGroup]="generalForm" *ngIf="generalForm">

  <h1 *ngIf="!editCard">Add new payment card</h1>

  <div *ngIf="editCard" class="edit-panel">
    <mat-slide-toggle (change)="toggleEdit()">Edit</mat-slide-toggle>
    <button mat-stroked-button color="warn" (click)="toggleDeleteMode()"><i class="far fa-trash-alt"></i></button>
  </div>

  <div *ngIf="deleteMode" class="delete-message">
    <h3>Do you want to delete this payment card?</h3>
    <div class="controls__delete">
      <button mat-flat-button color="warn" (click)="cancelDeleteMode()">Cancel</button>
      <button mat-flat-button color="accent" (click)="confirmDeleteCard()">Confirm</button>
    </div>
  </div>

  <app-form-group
    *ngIf="paymentCardDetailsForm"
    [fg]="generalForm"
    [name]="'paymentCardDetailsForm'"
    [controls]="paymentCardDetailsFormControls"
    [gridColumns]="gridColumns"></app-form-group>

  <div class="controls">
    <button mat-flat-button type="submit" class="col-primary" color="accent"
            (click)="onSubmit()" [disabled]="this.isDisabled">Save
    </button>
    <button mat-flat-button type="button" class="col-danger" color="warn"
            (click)="onCancel()">Cancel
    </button>
  </div>

</form>

<p>General form {{generalForm.value | json}}</p>
