<div class="wrapper">
  <div class="home-page" id="home">

    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="home-page__auth">
      <div class="home-page__title">
        <h1>4Card</h1>
        <h2>Manage your payment cards in one place!</h2>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta et fuga libero minus molestias mollitia nemo non quas quis sapiente.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, magnam!</p>
      <div *ngIf="!isLoggedIn" class="home-page__controls">
        <button mat-flat-button color="accent"
                (click)="openLoginDialog()">
          Get started
        </button>

        <mat-divider vertical></mat-divider>

        <button mat-stroked-button color="accent" (click)="openRegistrationDialog()">
          Register now
        </button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-flat-button color="accent">
          Learn more
        </button>
      </div>
    </div>
    <div class="home-page__image">
      <img src="./assets/4Card_card.png" alt="">
    </div>
  </div>

  <section>
    <div class="code">
      <div class="code-header">
        <div class="button-icon"></div>
        <div class="button-icon"></div>
        <div class="button-icon"></div>
      </div>
    </div>

    <div class="article">
      <h2>Check this out!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur exercitationem id, ipsa optio placeat praesentium quasi sapiente sed! Aliquam, nisi?</p>
      <a href="#">Learn more<i class="fas fa-arrow-right"></i></a>
    </div>
  </section>

  <section>
    <div class="article">
      <h2>Check this out!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur exercitationem id, ipsa optio placeat praesentium quasi sapiente sed! Aliquam, nisi?</p>
      <a href="#">Learn more<i class="fas fa-arrow-right"></i></a>
    </div>

    <div class="code">
      <div class="code-header">
        <div class="button-icon"></div>
        <div class="button-icon"></div>
        <div class="button-icon"></div>
      </div>
    </div>
  </section>

</div>
<div class="footer">

  <div>
    <h4>4Card</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum illum libero, quam quasi ratione reiciendis repellendus reprehenderit temporibus ullam. Accusamus deleniti ex, fugiat minus nisi officia quaerat qui vitae!</p>
  </div>

  <div>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Widget</a>
      </li>
      <li>
        <a [routerLink]="['/about-us']">About us</a>
      </li>
      <li>
        <a [routerLink]="['/contact']">Contact</a>
      </li>
      <li>
        <a href="#">Privacy policy</a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Follow us</h4>
    <ul class="follow-us">
      <li>
        <a href="#"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>

</div>
