<div [formGroup]="fg" class="fg">
  <div [formGroupName]="name" *ngIf="fg.get(name)">
    <mat-grid-list
      gutterSize="2em"
      [cols]="gridColumns"
      rowHeight="60px">
      <ng-container *ngFor="let item of controls; let i=index;">
        <mat-grid-tile
          [colspan]="item.cols || 1"
          [rowspan]="item.rows || 1"
          class="general-form-item">
          <ng-container *ngIf="!item.group" [ngSwitch]="item.type">

            <!--Select case-->
            <mat-form-field *ngSwitchCase="'select'" class="general-form-field fixed-height">
              <mat-select [placeholder]="item.label" [formControlName]="item.inputName" [multiple]="item.selectMultiple">
                <mat-option *ngFor="let option of item.selectOptions" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
              <mat-error *ngFor="let error of item.errors">
                <div *ngIf="checkForErrors(name, item.inputName, error)">{{error.message}}</div>
              </mat-error>
            </mat-form-field>

            <!--Checkbox case-->
            <div *ngSwitchCase="'checkbox'" class="general-form-field fixed-height fg-checkbox">
              <mat-checkbox [formControlName]="item.inputName">{{item.label}}</mat-checkbox>
              <mat-error *ngFor="let error of item.errors">
                <div *ngIf="checkForErrors(name, item.inputName, error)">{{error.message}}</div>
              </mat-error>
            </div>

            <!--Textarea case-->
            <mat-form-field *ngSwitchCase="'textarea'" class="general-form-field fixed-height">
              <textarea
                [formControlName]="item.inputName"
                matInput
                [placeholder]="item.label"></textarea>
              <mat-error *ngFor="let error of item.errors">
                <div *ngIf="checkForErrors(name, item.inputName, error)">{{error.message}}</div>
              </mat-error>
            </mat-form-field>

            <!--Default case-->
            <mat-form-field *ngSwitchDefault class="general-form-field fixed-height">
              <input
                type="{{item.type}}"
                [formControlName]="item.inputName"
                matInput
                [placeholder]="item.label">
            </mat-form-field>

          </ng-container>

          <!--Nested textarea/number case-->
          <div *ngIf="item.group" [formControlName]="item.inputName">
            <div class="fixed-height nested-label">{{item.label}}</div>
            <mat-form-field *ngFor="let nestedItem of item.inputs" class="general-form-field fixed-height">
              <input
                type="{{nestedItem.type}}"
                [formControlName]="nestedItem.inputName"
                matInput
                [placeholder]="nestedItem.label"
                [disabled]="nestedItem.isDisabled">
              <mat-error *ngFor="let error of item.errors">
                <div *ngIf="checkForErrors(name, item.inputName, error, nestedItem.inputName)">{{error.message}}</div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>
</div>
