.controls {
  flex-direction: row;
  justify-content: flex-end;
}

h2 {
  margin-bottom: 0.8em;
}

.mat-slide-toggle {
  margin: 1em 0 1em 0.5em;
}

.card-header {
  align-items: center;

  h1 {
    margin-bottom: 0;
  }

}
