<div class="wrapper">
  <div class="card">

    <div>
      <div>
        <h2>About us!</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem facere fuga non voluptate? Accusantium atque fuga nobis non ut!
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet architecto cupiditate eos in, ipsum iure laboriosam libero neque omnis, possimus quae quia ratione! Ab architecto consectetur in nisi omnis pariatur quae saepe, suscipit? Accusamus dolorem, ducimus ex illo laborum odit officiis optio pariatur quasi reprehenderit sequi tempora ut voluptatibus.
      </div>
    </div>

  </div>
</div>
