<nav>
  <div class="nav-container">
    <div class="nav-logo">
      <img src="/assets/carly_logo.png" alt="For card logo">
    </div>

    <div class="nav-links">
      <ul>
        <li>
          <a routerLinkActive="active-link" [routerLink]="['/home']">Home</a>
        </li>
        <li *appUserCanAccess="[ForCardAdmin]">
          <a routerLinkActive="active-link" [routerLink]="['/users']">Users</a>
        </li>
        <li *appUserCanAccess="[ForCardAdmin, ForCardUser]">
          <a routerLinkActive="active-link" [routerLink]="['/payment-cards']">Payment cards</a>
        </li>
        <li *appUserCanAccess="[ForCardUser]">
          <a routerLinkActive="active-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
          <a routerLinkActive="active-link" [routerLink]="['/about-us']">About us</a>
        </li>
        <li>
          <a routerLinkActive="active-link" [routerLink]="['/contact']">Contact</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a [routerLink]="" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
