<form [formGroup]="generalForm" *ngIf="generalForm">

  <h1>Enter email to reset password</h1>

  <app-form-group
    *ngIf="resetPasswordForm"
    [fg]="generalForm"
    [name]="'resetPasswordForm'"
    [controls]="resetPasswordFormControls"
    [gridColumns]="gridColumns"></app-form-group>

  <div class="controls">
    <button mat-flat-button type="submit" class="col-primary" color="accent"
            (click)="onSubmit()" [disabled]="generalForm.invalid">Reset password
    </button>
    <button mat-flat-button type="button" class="col-danger" color="warn"
            (click)="onCancel()">Cancel
    </button>
  </div>

</form>
