.edit-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  mat-slide-toggle {
    margin: 0;
  }

}

.controls {
  flex-direction: column;

  button {

    &:first-child {
      margin-bottom: 1.4em;
    }
  }
}
