.home-page {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .home-page__auth, .home-page__image {
    width: 50%;
    height: inherit;
  }

  .home-page__auth {
    display: flex;
    flex-direction: column;

    .home-page__title {
      h1 {
        margin-bottom: 0.6em;
        font-size: 4em;
        color: $col-accent;
        font-weight: bold;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 2.2em;
        line-height: 45px;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 2em;
    }

    .home-page__controls {
      display: flex;
      align-items: flex-start;

      mat-divider {
        margin: 0 2em;
        height: 100%;
      }

    }

  }



}
