.home-page {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;

  .home-page__auth, .home-page__image {
    width: 50%;
    height: inherit;
  }

  .home-page__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      width: 70%;
    }

  }

  .home-page__auth {
    display: flex;
    flex-direction: column;

    .home-page__title {
      h1 {
        margin-bottom: 0.6em;
        font-size: 4em;
        color: $col-primary;
        font-weight: bold;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 2.2em;
        line-height: 45px;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 2em;
    }

    .home-page__controls {
      display: flex;
      align-items: flex-start;

      mat-divider {
        margin: 0 2em;
        height: 100%;
      }

    }

  }
}

section {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 6em;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3em;

    h2, a {
      color: $col-primary;
      font-size: 2em;
      font-weight: bold;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.2em;

      &:hover {
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s all ease-in-out;

        i {
          margin-left: 1em;
        }

      }

      i {
        margin-left: 0.5em;
      }

    }

  }

}
