/* You can add global styles to this file, and also import other style files */
@import "theme/theme.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

/* ATOMS */
@import "theme/atoms/controls.scss";
@import "theme/atoms/grid.scss";
@import "theme/atoms/variables.scss";

/* MOLECULES */
@import "theme/molecules/card.scss";
@import "theme/molecules/forms.scss";
@import "theme/molecules/navbar.scss";
@import "theme/molecules/payment-card.scss";

/* PAGES */


/* BASIC */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: $wrapper-width;
  padding: 2em;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: 1100px;
    padding: 3em;
  }

}

mat-slide-toggle {
  margin-bottom: 1em;
  font-size: 1.4em;
}

.vertical-divider {
  margin: 30px;
  color: $black;
}
